### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
unique_players = len(df["SN"].unique())
total_players = pd.DataFrame({"Total Players":[unique_players]})

total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
item_count = len(df["Item ID"].unique())
average_price = df["Price"].mean()
num_of_purchases = df["Purchase ID"].count()
revenue = df["Price"].sum()

## number of purchases and total revenue 
summary_table = pd.DataFrame({"Item Count": [item_count], 
                       "Average Price": [average_price],
                       "Number of Purchases": [num_of_purchases],
                       "Revenue": [revenue]})
summary_table

   Item Count  Average Price  Number of Purchases  Revenue
0         183       3.050987                  780  2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_df = df.groupby("Gender")
total_players_by_gender = gender_df["SN"].nunique()
percentage_of_players_by_gender = ((total_players_by_gender / unique_players) * 100)


gender_demographics = pd.DataFrame({"Total Count": total_players_by_gender, 
                                    "Percentage of Players": percentage_of_players_by_gender})
gender_demographics

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [56]:
purchase_count_gender = gender_df["Purchase ID"].count()
avg_purchase_price_gender = gender_df["Price"].mean()
total_purchase_value = gender_df["Price"].sum()
avg_purchase_total = total_purchase_value / total_players_by_gender

summary_table_2 = pd.DataFrame({"Purchase Count": purchase_count_gender,
                  "Average Purchase Price": avg_purchase_price_gender,
                  "Total Purchase Value": total_purchase_value,
                  "Avg Total Purchase per Person": avg_purchase_total})

summary_table_2.style.format({"Average Purchase Price":"${:,.2f}",
                              "Total Purchase Value":"${:,.2f}",
                              "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [55]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

df["Age Group"] = pd.cut(df["Age"], age_bins, labels=age_group)

age_group_df = df.groupby("Age Group")

total_count_of_players = age_group_df["SN"].nunique()

percentage_of_players = (total_count_of_players/unique_players) * 100
percentage_of_players


summary_table_3 = pd.DataFrame({"Percentage of Players": percentage_of_players,
                               "Total Count": total_count_of_players,})

summary_table_3.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
purchase_count_age = age_group_df["Purchase ID"].nunique()
avg_purchase_price_age = age_group_df["Price"].mean()
total_purchase_value = age_group_df["Price"].sum()
avg_purchase_per_person = total_purchase_value / total_count_of_players

summary_table_4 = pd.DataFrame({"Purchase Count": purchase_count_age,
                  "Average Purchase Price": avg_purchase_price_age,
                  "Total Purchase Value": total_purchase_value,
                  "Avg Total Purchase per Person": avg_purchase_per_person})

summary_table_4.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [44]:
## PURCHASE COUNT: counting how much each person PURCHASED - total number of purchases 
##  average purchase price 
## total purchase value 


top_spenders = df.groupby("SN")
purchase_count_sn = top_spenders["Purchase ID"].count()
avg_purchase_price_sn = top_spenders["Price"].mean()
total_purchase_value_sn = top_spenders["Price"].sum()


summary_table_5 = pd.DataFrame({"Purchase Count": purchase_count_sn,
                  "Average Purchase Price": avg_purchase_price_sn,
                  "Total Purchase Value": total_purchase_value_sn})

top_spenders_sn = summary_table_5.sort_values(["Total Purchase Value"], ascending=False).head()


top_spenders_sn.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [51]:
popular_items = df[["Item ID", "Item Name", "Price"]]
item_group_df = popular_items.groupby(["Item ID", "Item Name"])


purchase_count_item = item_group_df["Price"].count()
total_purchase_value_item = item_group_df["Price"].sum()
item_price = total_purchase_value_item/purchase_count_item

summary_table_6 = pd.DataFrame({"Purchase Count": purchase_count_item,
                  "Item Price": item_price,
                  "Total Purchase Value": total_purchase_value_item})

popular_items_sn = summary_table_6.sort_values(["Purchase Count"], ascending=False).head()


popular_items_sn.style.format({"Item Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [54]:
popular_items_sn = summary_table_6.sort_values(["Total Purchase Value"], ascending=False).head()
popular_items_sn.style.format({"Item Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",})